<div class="hero home-hero">
  <div class="container">
    <section class="content-block">
      <div class="content-block__inner">
        <h1>Come visit, leave inspired</h1>
        <h3>Custom Screenprinting &amp; Embroidery. Home Goods &amp; Gifts. Women's Fashion.</h3>
        <p>Backed by our core family values of honesty, integrity, and quality to our customers and staff.</p>
      </div>
    </section>
  </div>
</div>

<div class="screenprinting wood-grain">
  <div class="container">
    <section class="inverse-content-block">
      <h2>Screenprinting &amp; Embroidery</h2>
      <p>We offer high quality screenprinting and embroidery with a quick turnaround time, backed by our excpetional customer service and professional touch. </p>
      <a href="#" class="btn">Upload Design</a>
      <a href="#" class="btn">Design Online</a>
    </section>
    <img src="{{ 'screenprinting.png' | asset_url }}" alt="screen printed clothing" class="screenprinting__image">
  </div>
</div>

<div class="homegoods container">
  <img src="{{ 'homegood.png' | asset_url }}" alt="multiple photos of interior decoration" class="homegoods__image">
  <div class="content-block">
    <h2>Home Goods &amp; Gifts</h2>
    <h3>Create Cozy &amp; Gift Happy.</h3>
    <p>We've got something for all of the wonderful men, women, and children in your life.</p>
    <a href="#" class="btn">Shop Home Goods</a>
  </div>
</div>

<div class="fashion">
  <div class="container">
    <div class="content-block">
      <div class="content-block__inner">
        <h2>Fashion &amp; Spiritgear</h2>
        <h3>Stylish, Affordable, &amp; On Trend</h3>
        <p>Shop our great selection of women's must have clothing and accessories.</p>
        <a href="#" class="btn">Shop your look</a>
      </div>
    </div>
  </div>
</div>

<div class="locations container">
  <ul class="locations__list">
    <li>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.2334722097594!2d-98.23446668391782!3d30.76802609097987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865ae42d93e62163%3A0xb25cb51a5570f1e2!2sXLR8+Embroidery+%26+Screenprinting!5e0!3m2!1sen!2sus!4v1514565122668" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="location__details">
        <h2>Burnet</h2>
        <h3>1002 N Water St, Burnet, TX 78611</h3>
        <h4>(512)756-0930</h4>
        <p>Hours:<br />
          Monday – Saturday 8am – 6pm<br />
          Closed Sundays</p>
        </div>
    </li>
    <li>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.396516887145!2d-98.27158018391955!3d30.594577199326874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b1d0693b167f5%3A0x9896da61faf2242d!2s2409+Commerce+St%2C+Marble+Falls%2C+TX+78654!5e0!3m2!1sen!2sus!4v1514565178736" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="location__details">
        <h2>Marble Falls</h2>
        <h3>2409 Commerce St, Marble Falls, TX 78654</h3>
        <h4>(830)693-0082</h4>
        <p>Hours:<br />
          Monday – Saturday 8am – 6pm<br />
          Closed Sundays</p>
        </div>
      </li>
  </ul>
</div>

<div class="insta-feed container">
  <h2>Share and follow XLR8 moments</h2>
  <ul>
    <li>
      <img src="{{ 'insta-1.png' | asset_url }}" alt="">
    </li>
    <li>
      <img src="{{ 'insta-2.png' | asset_url }}" alt="">
    </li>
    <li>
      <img src="{{ 'insta-3.png' | asset_url }}" alt="">
    </li>
    <li>
      <img src="{{ 'insta-4.png' | asset_url }}" alt="">
    </li>
  </ul>
</div>
